* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
	font-size: 100.01%;
}

body {
    background-color: rgb(240, 240, 232);
    font-size: 80%;
    font-family: Verdana,Helvetica,Arial,sans-serif !important;
    color: #000000;
    height: 100%;
}

a {
	color: #006699;
	text-decoration: none;
}

a:hover {
	color: #999966;
	text-decoration: none;
}

a:visited {
	color: #006699;
	text-decoration: none;
}

#logo {
	text-align:right;
	padding:20px 25px 5px 25px;
}

#featuredproject {
	background-color: rgb(0, 51, 102);
	border-bottom: 1pt solid rgb(204, 204, 204);
	font-weight: bold;
	font-size: 1.1em;
	color: rgb(0, 51, 102);
	padding: 5px;
	margin: 0;
	text-align: center;
	color: white;
}

#featuredproject a {
	color: rgb(204, 204, 204);
}

#breadcrumbs {
	font-size: 80%;
	margin-bottom: 1em;
}

#all {
    background-color: #ffffff;
    width: 80%;
    min-width: 82em;
	max-width: 100em;
    border-left: 1px solid rgb(204, 204, 204);
    border-right: 1px solid rgb(204, 204, 204);
    margin: auto; /* Div soll zentriert werden */
    min-height: 100%; /* Mindesthöhe für moderne Browser */
    height: auto !important; /* Important Regel für moderne Browser */
    height: 100%; /* Mindesthöhe für den IE */
    overflow: hidden !important; /* FF Scroll-leiste */
}

#main {
    background-color: #ffffff;
    width: 81%;
	float:right;
    min-width: 675px;
    margin: auto; /* Div soll zentriert werden */
    min-height: 100%; /* Mindesthöhe für moderne Browser */
    height: auto !important; /* Important Regel für moderne Browser */
    height: 100%; /* Mindesthöhe für den IE */
    overflow: hidden !important; /* FF Scroll-leiste */
}

#left {
	width: 19%;
	min-height: 15em;
	float: left;
    margin: auto; /* Div soll zentriert werden */
    min-height: 100%; /* Mindesthöhe für moderne Browser */
    height: auto !important; /* Important Regel für moderne Browser */
    height: 100%; /* Mindesthöhe für den IE */
    overflow: hidden !important; /* FF Scroll-leiste */		
}

.menu-divider {
    display: inline-block;
    position: relative;
    top: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#department {
	padding-left: 2em;
	min-height:9em;
}

#department a {
	position:absolute; /* HACK */
	top:7.5em; /* HACK */
	color: rgb(0, 51, 102);
}

#menu {
	margin-top:0px;
	font-weight:normal;
}

#menu a {
	color: #003366 !important;
	font-weight:normal;
	line-height: 1.2em !important;
	padding: 0em 1em 0em 2em;
	display: block;
	text-decoration: none;

}

#menu ul {
	padding:0;
	margin:0;
	background-color: #CCCC99;
	list-style: none;
}

#menu li {
	border-top: 0.1em solid white;
	padding: 0.25em 0em 0.25em 0em;	
}

#menu li span {
	position: relative;
	display: inline;
	}

#menu ul ul {
	background-color: #E0E0D1;
}

#menu li.active > a {
	font-weight: bold;
}

#menu > ul > #marked > a {
	font-weight: bold;
}

#menu #marked {
	background-color: white;
}

#menu > ul > li > #marked a {
	font-weight: bold;
}

#top {
    position: relative;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

#picture {
    margin-top: 28px;
    text-align: left;
    float: left;
}

#location {
    position: relative;
    text-align: left;
    line-height: 1.6em;
	min-height: 1.8em;	
    background-color: rgb(204, 214, 224);
    color: rgb(0, 51, 102);
    width: auto;
    /*height: 23px;*/
    padding: 0;
    padding-left: 5px;
    padding-right: 10px;
    margin-left: 360px;
    overflow: hidden;
}

#navigation {
    position: relative;
    text-align:left;
    background-color: rgb(0, 51, 102);
    color: #ffffff;
	display: inline-block;
	min-width: 57.5%;
	max-width: 77%;
	line-height: 1.8em;
	min-height: 1.8em;
	padding-left: 3.5em;
}

#navigation ul, ol {
    list-style: none outside none;
    margin: 0; padding: 0;
}

#navigation li {
    display: inline-block;
    white-space: nowrap;
    padding-left: 0.5em;
    padding-right: 0.5em;
    line-height: 1.7em;
    list-style: none;
    margin: 0; padding: 0;
}

#navigation a {
	color: white;
}

#content {
    background-color: #ffffff;
    padding: 0 1em;
    padding-right: 2.6em;
	margin: 0.5em 0 0.5em 2em;
    width: auto;
	height: auto !important;
	height: 100%;
}

#content #project {
	font-weight: bold; 
	color: rgb(204, 204, 204);
}

.header { 
	background-color: rgb(204, 214, 224);
	font-weight: bold;
	color:rgb(0, 51, 102); 
}

.rheader { 
	font-size: large;
}

.bibline { 
	padding:3px; 
	padding-left:15px; 
	vertical-align:top;
}

h2,h3,h4 {
    font-weight: bold;
    color: rgb(0, 51, 102);
}

h2 {
    margin: 0.5em 0 0.5em 0;
    padding: 0;
}

h3 {
    margin: 1.5em 0 0.5em 0;
    padding: 0;
}

p, dl  {
	margin: 1em 0;
}

ul {
	padding-left: 40px;
}
h1 {
	margin: .67em 0;
}

h4 {
	margin: 1.33em 0;
}

h5 {
	margin: 1.67em 0;
}

h6 {
	margin: 2.33em 0;
}

hr {
	margin: 0.5em auto 0.5em auto;
}

ul.members {
	margin-left: 20px;
	padding-left: 0;
}
.memberslist {
	margin-top: 0;
}

#footer {
	position: absolute; 
	bottom: 0;
	height: 40px; 
	width: 80%;
	border-top: 1px solid rgb(0, 51, 102);
}

