*.css text
*.java text
*.js text
*.jsp text
*.md text
*.properties text
*.sql text
*.svg text
*.txt text
*.xml text
deps/unmanaged/*/**.xml text eol=lf
*.yml text
.gitattributes text
.gitignore text
.tgitconfig text
safe-docker/** text
