<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5"> 

    <description>
      Submission Interface
    </description>
    <display-name>Submission Interface</display-name>

    <context-param>
    <param-name>datapath</param-name>
    <param-value>c:\abgabesystem</param-value>
    </context-param>
    <context-param>
    <param-name>servletspath</param-name>
    <param-value>servlets</param-value>
    </context-param>

    <listener>
        <listener-class>de.tuclausthal.submissioninterface.util.HibernateListener</listener-class>
    </listener>

    <welcome-file-list>
        <welcome-file>servlets/Redirect</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>de.tuclausthal.submissioninterface.authfilter.authentication.AuthenticationFilter</filter-class>
        <init-param>
            <param-name>login</param-name>
            <param-value>de.tuclausthal.submissioninterface.authfilter.authentication.login.impl.Form</param-value>
        </init-param>
        <init-param>
            <param-name>verify</param-name>
            <param-value>de.tuclausthal.submissioninterface.authfilter.authentication.verify.impl.FakeVerify</param-value>
        </init-param>
        <!-- LDAP Configuration -->
        <init-param>
            <param-name>PROVIDER_URL</param-name>
            <param-value>ldaps://beelzebub.rz.tu-clausthal.de/ou=people,dc=tu-clausthal,dc=de</param-value>
        </init-param>
        <init-param>
            <param-name>SECURITY_AUTHENTICATION</param-name>
            <param-value>simple</param-value>
        </init-param>
        <init-param>
            <param-name>SECURITY_PRINCIPAL</param-name>
            <param-value>uid={0},ou=people,dc=tu-clausthal,dc=de</param-value>
        </init-param>
        <init-param>
            <param-name>userAttribute</param-name>
            <param-value>uid</param-value>
        </init-param>
        <init-param>
            <param-name>matrikelNumberAttribute</param-name>
            <param-value>tucmatrikelNr</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/servlets/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>LocalExecutor</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.testframework.executor.impl.LocalExecutorStartUp</servlet-class>
        <load-on-startup />
        <init-param>
            <param-name>cores</param-name>
            <param-value>4</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>Redirect</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.Redirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerformTest</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.PerformTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminMenue</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.AdminMenue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LectureManager</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.LectureManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskManager</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.TaskManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Overview</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.view.Overview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowLecture</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.ShowLecture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkApproved</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.MarkApproved</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkEmptyTask</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.MarkEmptyTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkEmptyTaskView</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.view.MarkEmptyTaskView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowTask</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.ShowTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubscribeToLecture</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.SubscribeToLecture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitSolution</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.SubmitSolution</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowSubmission</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.ShowSubmission</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowMarkHistory</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.ShowMarkHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowMarkHistoryView</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.view.ShowMarkHistoryView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUser</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.ShowUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUserView</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.view.ShowUserView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditGroup</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.EditGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddGroup</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.AddGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterUser</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.AlterUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditParticipation</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.EditParticipation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowFile</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.ShowFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadAsZip</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.DownloadAsZip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFile</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.DeleteFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestManager</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.TestManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DupeCheck</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.DupeCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowLectureTutorView</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.view.ShowLectureTutorView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowLectureTutorFullView</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.view.ShowLectureTutorFullView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowLectureTutorCSVView</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.view.ShowLectureTutorCSVView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowLectureStudentView</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.view.ShowLectureStudentView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowTaskStudentView</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.view.ShowTaskStudentView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowTaskTutorView</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.view.ShowTaskTutorView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowTaskTutorPrintView</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.view.ShowTaskTutorPrintView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DupeCheckFormView</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.view.DupeCheckFormView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowSubmissionView</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.view.ShowSubmissionView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditGroupFormView</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.view.EditGroupFormView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitSolutionFormView</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.view.SubmitSolutionFormView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitSolutionAdvisorFormView</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.view.SubmitSolutionAdvisorFormView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubscribeToLectureView</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.view.SubscribeToLectureView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskManagerView</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.view.TaskManagerView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowFileView</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.view.ShowFileView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminMenueOverView</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.view.AdminMenueOverView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminMenueShowAdminUsersView</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.view.AdminMenueShowAdminUsersView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminMenueAddLectureView</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.view.AdminMenueAddLectureView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminMenueEditLectureView</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.view.AdminMenueEditLectureView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageView</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.view.MessageView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddGroupFormView</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.view.AddGroupFormView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestManagerAddTestFormView</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.view.TestManagerAddTestFormView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerformTestRunningView</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.view.PerformTestRunningView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerformTestResultView</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.view.PerformTestResultView</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminMenue</servlet-name>
        <url-pattern>/servlets/AdminMenue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerformTest</servlet-name>
        <url-pattern>/servlets/PerformTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LectureManager</servlet-name>
        <url-pattern>/servlets/LectureManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskManager</servlet-name>
        <url-pattern>/servlets/TaskManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Overview</servlet-name>
        <url-pattern>/servlets/Overview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowLecture</servlet-name>
        <url-pattern>/servlets/ShowLecture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkApproved</servlet-name>
        <url-pattern>/servlets/MarkApproved</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkEmptyTask</servlet-name>
        <url-pattern>/servlets/MarkEmptyTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkEmptyTaskView</servlet-name>
        <url-pattern>/servlets/MarkEmptyTaskView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowTask</servlet-name>
        <url-pattern>/servlets/ShowTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubscribeToLecture</servlet-name>
        <url-pattern>/servlets/SubscribeToLecture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitSolution</servlet-name>
        <url-pattern>/servlets/SubmitSolution</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowSubmission</servlet-name>
        <url-pattern>/servlets/ShowSubmission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowMarkHistory</servlet-name>
        <url-pattern>/servlets/ShowMarkHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowMarkHistoryView</servlet-name>
        <url-pattern>/servlets/ShowMarkHistoryView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUser</servlet-name>
        <url-pattern>/servlets/ShowUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUserView</servlet-name>
        <url-pattern>/servlets/ShowUserView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditGroup</servlet-name>
        <url-pattern>/servlets/EditGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/servlets/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditParticipation</servlet-name>
        <url-pattern>/servlets/EditParticipation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowFile</servlet-name>
        <url-pattern>/servlets/ShowFile/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadAsZip</servlet-name>
        <url-pattern>/servlets/DownloadAsZip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFile</servlet-name>
        <url-pattern>/servlets/DeleteFile/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestManager</servlet-name>
        <url-pattern>/servlets/TestManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGroup</servlet-name>
        <url-pattern>/servlets/AddGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterUser</servlet-name>
        <url-pattern>/servlets/AlterUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DupeCheck</servlet-name>
        <url-pattern>/servlets/DupeCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowLectureStudentView</servlet-name>
        <url-pattern>/servlets/ShowLectureStudentView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowLectureTutorView</servlet-name>
        <url-pattern>/servlets/ShowLectureTutorView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowLectureTutorFullView</servlet-name>
        <url-pattern>/servlets/ShowLectureTutorFullView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowLectureTutorCSVView</servlet-name>
        <url-pattern>/servlets/ShowLectureTutorCSVView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowTaskStudentView</servlet-name>
        <url-pattern>/servlets/ShowTaskStudentView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowTaskTutorView</servlet-name>
        <url-pattern>/servlets/ShowTaskTutorView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowTaskTutorPrintView</servlet-name>
        <url-pattern>/servlets/ShowTaskTutorPrintView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DupeCheckFormView</servlet-name>
        <url-pattern>/servlets/DupeCheckFormView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowSubmissionView</servlet-name>
        <url-pattern>/servlets/ShowSubmissionView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditGroupFormView</servlet-name>
        <url-pattern>/servlets/EditGroupFormView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitSolutionFormView</servlet-name>
        <url-pattern>/servlets/SubmitSolutionFormView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitSolutionAdvisorFormView</servlet-name>
        <url-pattern>/servlets/SubmitSolutionAdvisorFormView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubscribeToLectureView</servlet-name>
        <url-pattern>/servlets/SubscribeToLectureView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskManagerView</servlet-name>
        <url-pattern>/servlets/TaskManagerView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowFileView</servlet-name>
        <url-pattern>/servlets/ShowFileView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminMenueOverView</servlet-name>
        <url-pattern>/servlets/AdminMenueOverView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminMenueShowAdminUsersView</servlet-name>
        <url-pattern>/servlets/AdminMenueShowAdminUsersView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminMenueAddLectureView</servlet-name>
        <url-pattern>/servlets/AdminMenueAddLectureView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminMenueEditLectureView</servlet-name>
        <url-pattern>/servlets/AdminMenueEditLectureView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageView</servlet-name>
        <url-pattern>/servlets/MessageView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGroupFormView</servlet-name>
        <url-pattern>/servlets/AddGroupFormView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestManagerAddTestFormView</servlet-name>
        <url-pattern>/servlets/TestManagerAddTestFormView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Redirect</servlet-name>
        <url-pattern>/servlets/Redirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerformTestRunningView</servlet-name>
        <url-pattern>/servlets/PerformTestRunningView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerformTestResultView</servlet-name>
        <url-pattern>/servlets/PerformTestResultView</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Nagios</servlet-name>
        <servlet-class>de.tuclausthal.submissioninterface.servlets.view.Nagios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Nagios</servlet-name>
        <url-pattern>/Nagios</url-pattern>
    </servlet-mapping>
</web-app>
