body {
background-image: url(http://www.tu-clausthal.de/gfx/hintergrund_tuc.jpg);
}

#aussen, #aussen-wide
{
/* --- IE 6-8 Schatten --- */
zoom: 1;
filter:
  progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=90, Strength=4)
  progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=135, Strength=2)
  progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=180, Strength=4)
  progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=225, Strength=2)
  progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=270, Strength=4);
/* --- IE 6-8 Schatten --- */
}

* html body #fuss { /* nur IE6 */
position:relative;
}

* + html #fuss { /* nur IE7 */
position:relative;
}

* html body #sitelinks { /* nur IE6 */
position: relative;
padding-top: 10px;
}

#inhalt table /* Nötig für IE7 */
{
position: relative;
}

.teaser img
{
/* --- IE 6-8 Schatten --- */
zoom: 1;
filter:
  progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=45, Strength=2)
  progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=90, Strength=3)
  progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=135, Strength=2)
  progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=180, Strength=3)
  progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=225, Strength=2)
  progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=270, Strength=3)
  progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=315, Strength=2);
/* --- IE 6-8 Schatten --- */
}

#navboxextra dd.closedIE
{
padding: 0;
}

#navboxextra dd.openedIE
{
padding: 0;
margin: 0 0 4px 0;
}

#navboxextra dd.closedIE a, #navboxextra dd.closedIE a:hover
{
margin: 0 0 4px 8px;
padding: 0 1px 0 14px;
background-image: url(http://www.tu-clausthal.de/gfx/Plus_grau.gif);
background-repeat: no-repeat;
background-position: 2px 2px;
}

#navboxextra dd.openedIE a, #navboxextra dd.openedIE a:hover
{
margin: 0 0 4px 8px;
padding: 0 1px 0 14px;
background-image: url(http://www.tu-clausthal.de/gfx/Minus_grau.gif);
background-repeat: no-repeat;
background-position: 2px 2px;
}