table.border th, table.border td {
	border-collapse:separate;
	border-spacing:2px;
	border-top-style:inset;
	border-right-style:inset;
	border-bottom-style:inset;
	border-left-style:inset;
	border-top-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-color:#CCCCCC;
}

th { background-color:#003366; color:white; }

textarea {
	white-space: pre;
	overflow-x: scroll;
}

table,.mid {
	margin-left: auto; margin-right: auto;
}

table.border {
	border-collapse:collapse;
	border-spacing:2px;
	border-width:1px;
	border-color:#CCCCCC;
	border-style:solid;
}

th,td { vertical-align: top; padding:2px;}

h3,h4,h5 { text-align: center; }

h3.files { margin-bottom: 2px; }

#taskdescription p:first-child {  margin-top: 0px; }
#taskdescription p:last-child {  margin-bottom: 0px; }

.left { text-align: left; }
td.points,.right { text-align: right; }
.jus { text-align: justify; }

.bmid,.b { font-weight: bold; }
.smallf { font-size: 75% }
.bigf { font-size: 100%; }

form { padding-bottom: 0px; margin-bottom: 0px; }

.error { color:red; font-weight: bold; margin-left: auto; margin-right: auto; }

.green { color:green; }
.red { color:red; }

.mccorrect { color:green; }
.mcwrong { color:red; text-decoration: line-through; }

.mid,.bmid,.cdrucken { text-align: center; }

del {
	text-decoration: none;
	color: #b30000;
	background: #fadad7;
}
ins {
	background: #eaf2c2;
	color: #406619;
	text-decoration: none;
}

.ui-resizable-helper { border: 2px dotted #008C4F; }
.ui-resizable-se { bottom: 0px; }

.inlinefile {
	background-color: white;
	height: 600px
}

.inlinemenu {
	text-align: right;
}

body.filepreview {
	font: 82% Verdana, Lucida, sans-serif;
	color: black;
	background-color: white;
	margin: 8px;
}

body.filepreview h1 {
	text-align: center;
}

body.filepreview h1, .previewmenubox, .highlightborder {
	background-color: #DDDDDD;
	border-collapse:collapse;
	border-spacing:2px;
	border-width:1px;
	border-color:#CCCCCC;
	border-style:solid;
}

.taskfiles {
	margin-top: 0px;
	margin-bottom: 0px;
}

.previewmenubox {
	z-index: 2000;
	position: fixed;
	right: 0px;
	top: 0px;
}

.dt_studentsolution {
	background-color: #E5E5E5;
}

code {
	font-family: "Courier New",Courier,monospace;
	white-space: nowrap;
}

pre {
	font-family: "Courier New",Courier,monospace;
}

/*
 * Browser specific (not valid) styles to make preformatted text wrap
 * http://myy.helia.fi/~karte/pre-wrap-css3-mozilla-opera-ie.html
 */
pre.wrap {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/*
** taken from Wikimedia
** keep the whitespace in front of the ^=, hides rule from konqueror
** this is css3, the validator doesn't like it when validating as css2
*/
a.external {
	background: url(../../external.png) center right no-repeat;
	padding-right: 13px;
}
a[href ^="mailto:"] {
	background: url(../../mail_icon.png) center right no-repeat;
	padding-right: 18px;
}

.dupe, .dupe a {
	color: red !important;
}

.abgenfailed, .abgenfailed a {
	color: blue !important;
}

.ui-widget {
	font: 82% Verdana, Lucida, sans-serif !important;
}
.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	padding-right: 20px;
}
/* IE 6 doesn't support max-height, we use height instead, but this forces the menu to always be this tall */
* html .ui-autocomplete {
	height: 200px;
}

/* JHighlight */
.java_plain {
	color: rgb(0,0,0);
}

.java_keyword {
	color: rgb(0,0,0);
	font-weight: bold;
}

.java_type {
	color: rgb(0,44,221);
}

.java_operator {
	color: rgb(0,124,31);
}

.java_separator {
	color: rgb(0,33,255);
}

.java_literal {
	color: rgb(188,0,0);
}

.java_comment {
	color: rgb(147,147,147);
	background-color: rgb(247,247,247);
}

.java_javadoc_comment {
	color: rgb(147,147,147);
	background-color: rgb(247,247,247);
	font-style: italic;
}

.java_javadoc_tag {
	color: rgb(147,147,147);
	background-color: rgb(247,247,247);
	font-style: italic;
	font-weight: bold;
}

.xml_plain {
	color: rgb(0,0,0);
}

.xml_char_data {
	color: rgb(0,0,0);
}

.xml_tag_symbols {
	color: rgb(0,59,255);
}

.xml_comment {
	color: rgb(147,147,147);
	background-color: rgb(247,247,247);
}

.xml_attribute_value {
	color: rgb(193,0,0);
}

.xml_attribute_name {
	color: rgb(0,0,0);
	font-weight: bold;
}

.xml_processing_instruction {
	color: rgb(0,0,0);
	font-weight: bold;
	font-style: italic;
}

.xml_tag_name {
	color: rgb(0,55,255);
}

.xml_rife_tag {
	color: rgb(0,0,0);
	background-color: rgb(228,230,160);
}

.xml_rife_name {
	color: rgb(0,0,196);
	background-color: rgb(228,230,160);
}

.cpp_plain {
	color: rgb(0,0,0);
}

.cpp_keyword {
	color: rgb(0,0,0);
	font-weight: bold;
}

.cpp_type {
	color: rgb(0,44,221);
}

.cpp_operator {
	color: rgb(0,124,31);
}

.cpp_separator {
	color: rgb(0,33,255);
}

.cpp_literal {
	color: rgb(188,0,0);
}

.cpp_comment {
	color: rgb(147,147,147);
	background-color: rgb(247,247,247);
}

.cpp_doxygen_comment {
	color: rgb(147,147,147);
	background-color: rgb(247,247,247);
	font-style: italic;
}

.cpp_doxygen_tag {
	color: rgb(147,147,147);
	background-color: rgb(247,247,247);
	font-style: italic;
	font-weight: bold;
}

.cpp_preproc {
	color: purple;
}
