table.border th, table.border td {
	border-collapse:separate;
	border-spacing:2px;
	border-top-style:inset;
	border-right-style:inset;
	border-bottom-style:inset;
	border-left-style:inset;
	border-top-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-color:#676767;
}

th { background-color:#DDDDDD; }

textarea {
	white-space: pre;
	overflow-x: scroll;
}

table,.mid {
	margin-left: auto; margin-right: auto;
}

table.border {
	border-collapse:collapse;
	border-spacing:2px;
	border-width:1px;
	border-color:#676767;
	border-style:solid;
	background-color: #ffffff; /* make overflow tables look better */
}

th,td {
	vertical-align: top;
	padding: 3px;
}

#similarSubmissions > tbody > tr > td {
	padding: 0px;
}

h3,h4,h5 { text-align: center; }

h3.files { margin-bottom: 2px; }

#taskdescription p:first-child {  margin-top: 0px; }
#taskdescription p:last-child {  margin-bottom: 0px; }

.left { text-align: left; }
td.points,.right { text-align: right; }
.jus { text-align: justify; }

tr.notmarkedyet > td {
	background-color: lightgrey;
}

.bmid,.b { font-weight: bold; }
.smallf { font-size: 75% }
.bigf { font-size: 100%; }

form { padding-bottom: 0px; margin-bottom: 0px; }

.error { color:red; font-weight: bold; margin-left: auto; margin-right: auto; }

.green { color:green; }
.red { color:red; }

.mccorrect { color:green; }
.mcwrong { color:red; text-decoration: line-through; }

.mid,.bmid,.cdrucken { text-align: center; }

del {
	text-decoration: none;
	color: #b30000;
	background: #fadad7;
}
ins {
	background: #eaf2c2;
	color: #406619;
	text-decoration: none;
}

.resizer { display:flex; margin:0; padding:0; resize:both; overflow:hidden;padding-bottom:1.4em; }
/*.resizer > .resized { flex-grow:1; margin:0; padding:0; border:0; }*/

.inlinefile {
	background-color: white;
	height: 600px;
}

.inlinemenu {
	text-align: right;
}

body.filepreview {
	font: 82% Verdana, Lucida, sans-serif;
	color: black;
	background: none repeat scroll 0 0 white;
	margin: 8px 0px 8px 8px;
}

body.filepreview h1 {
	text-align: center;
}

body.filepreview h1, .previewmenubox, .highlightborder {
	background-color: #DDDDDD;
	border-collapse:collapse;
	border-spacing:2px;
	border-width:1px;
	border-color: #676767;
	border-style:solid;
	padding: 3px;
}

.taskfiles {
	margin-top: 0px;
	margin-bottom: 0px;
}

.previewmenubox {
	z-index: 2000;
	position: fixed;
	right: 0px;
	top: 0px;
}

.cloze_studentsolution, .dt_studentsolution, .cloze_points {
	background-color: #E5E5E5;
}

code {
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

#mark ul {
	padding-left: 20px;
}

#mark li input[type=checkbox] {
	margin-left: 0;
}

ul#tests, ul#mctask, ul#dynamictask {
	padding-left: 15px;
}

ul#tests table {
	margin-left: 0px;
}

ul#tests > li {
	margin-bottom: 8px;
}

pre {
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

pre.wrap, pre.wrap > code {
	min-width:auto !important;
	width:auto !important;
	white-space: pre-wrap !important;
}

pre[class*="language-"] > code {
	overflow: initial !important;
	border:0 !important;
	box-shadow: none !important;
	min-width: calc(100% - 5em);
	width: max-content;
}

/*
** taken from Wikimedia
** keep the whitespace in front of the ^=, hides rule from konqueror
** this is css3, the validator doesn't like it when validating as css2
*/
a.external {
	background: url(../../external.svg) center right no-repeat;
	padding-right: 13px;
}
a[href ^="mailto:"] {
	background: url(../../mail_icon.svg) center right no-repeat;
	padding-right: 18px;
}

.dupe, .dupe a {
	color: red !important;
}

.abgenfailed, .abgenfailed a {
	color: blue !important;
}
