/* General: = Definitionen
----------------------------------------------- */

body
{
	font-size: 100.01%;
	padding: 0;
	margin: 0;
	background: #f3f3f3;
	color: #666;
}


/* General: = Schriften und Abstaende
----------------------------------------------- */

p, table, th, td, li, form, input, select
{
	font-size: 1em;
}

pre, tt, code
{
	font: 1em Courier, monospace;
}

h1, h2, h3
{
	position: relative;
}

h1, h2
{
        font-family:  Georgia, "New Century Schoolbook", Times, "Times New Roman", serif;
        font-weight: normal;
}


h1
{
	margin-top: 0;
	font-size: 1.6em;
	line-height: 1.2em;
}

h2
{
	font-size: 1.4em;
	line-height: 1.2em;
	border-bottom: 1px solid #ccc;
}

h3, h4, h5, h6
{
	font: bold 1em Verdana, Lucida, sans-serif;
}

#einrichtung h2
{
	margin: 0;
	padding: 0;
	font: bold 1.4em Arial, Helvetica, sans-serif;
	border:none;
}

#einrichtung h3
{
	margin: 0;
	padding: 0;
	font: bold 1.3em Arial, Helvetica, sans-serif;
}

#einrichtung a
{
	color: #777;
	text-decoration: none;
}


/* General: = Links
----------------------------------------------- */

a:link, a:visited
{
	color: #008c4f;
	text-decoration: none;
}

a:hover
{
	color: #8c1c00;
	text-decoration: underline;
}


/* General: = Container
----------------------------------------------- */
#aussen
{
	margin: 0;
	padding: 0;
	max-width: 77em;
	min-width: 60em;
	font: 82% Verdana, Lucida, sans-serif;
}


#logo
{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
}

#menu
{
	position: relative;
	height: 64px;
	font-size: 0.85em;
	top: 25px;
	text-align: right;
	white-space: nowrap;
	margin: 0 16px 0 80px;
	padding: 0;
}

#page
{
	height: auto;
	margin: 0 0 0 64px;
	padding: 0 16px 0 0;
	background: url(ecke.gif) #ddd no-repeat right bottom;
}

#einrichtung
{
	position: relative;
	margin: 0px;
	padding: 10px 20px 30px 14px;
	color: #777;
}

#pfad
{
	position: relative;
	margin: 0 0 0 15.4em;
	padding: 5px 20px;
	background: #ddd;
	font-size: 0.85em;
	border-top: 1px solid #008c4f;
	border-right: 1px solid #008c4f;
	border-left: 1px solid #008c4f;
}

html>body #pfad
{
	margin: 0 0 0 15.3em;
}

#pfad-wide
{
	position: relative;
	margin: 0 0 0 16px;
	padding: 5px 20px;
	background: #ddd;
	font-size: 0.9em;
	border-top: 1px solid #008c4f;
	border-right: 1px solid #008c4f;
	border-left: 1px solid #008c4f;
}


/* Navigation:
----------------------------------------------- */
/* Navigationsbox-Eintraege neu (Listenform)*/

#hauptnavi
{
	float: left;
	width: 14.5em;
	margin: 0;
	padding: 0;
	font-size: 0.9em;
}

#hauptnavi ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	border-bottom: 1px solid #008c4f;
}

#hauptnavi ul ul
{
	border: none;
}

#hauptnavi li
{
	margin: 0;
	padding: 0;
}

#hauptnavi li#aktiv
{
	background: #eee;
}

#hauptnavi a
{
	display: block;
	width: 100%;
}

html>body #hauptnavi a
{
	width: auto;
}

#hauptnavi a:hover
{
	text-decoration: none;
}

#hauptnavi li#aktiv a
{
	border-left: 4px solid #008c4f;
}

#hauptnavi li#aktiv li a
{
	border-left: 4px solid #ccc;
}

#hauptnavi li#aktiv a:hover
{
	border-left: 4px solid #8c1c00;
}

/* Navigation: = Ebene1
----------------------------------------------- */
#hauptnavi li.ebene1
{
	font-weight: bold;
	border-top: 1px solid #008c4f;
}

#hauptnavi li.ebene1 a
{
	border-left: 4px solid #ccc;
	padding: 4px 4px 4px 6px;
}

#hauptnavi li.ebene1 a:hover
{
	border-left: 4px solid #8c1c00;
}

/* Navigation: = Ebene2
----------------------------------------------- */
#hauptnavi li.ebene2
{
	font-weight: normal;
	border-top: 1px solid #ccc;
	font-size: 0.9em;
}

#hauptnavi li.ebene2 a
{
	border-left: 4px solid #ccc;
	padding: 4px 4px 4px 6px;
}

#hauptnavi li.ebene2 a:hover
{
	border-left: 4px solid #8c1c00;
}

/* Navigation: = Ebene3
----------------------------------------------- */
#hauptnavi li.ebene3
{
	font-weight: normal;
	border-top: 1px solid #ccc;
}

#hauptnavi li.ebene3 a
{
	border-left: 4px solid #ccc;
	padding: 4px 4px 4px 14px;
}

#hauptnavi li.ebene3 a:hover
{
	border-left: 4px solid #8c1c00;
}

/* Navigation: = Direktlinks
-------------------------------------------------*/
#hauptnavi dl.extra
{
	margin: 20px 0 0 0;
	padding: 0;
	line-height: 1em;
	color: #666;
}

#hauptnavi dl.extra dt
{
	margin: 0;
	padding: 0 4px 8px 10px;
	background: none;
	font-weight: bold;
	border-top: 1px solid #ddd;
}

#hauptnavi dl.extra dd
{
	margin: 0;
	padding: 0 4px 4px 10px;
	background: none;
	font-size: 0.9em;
}

#hauptnavi dl.extra a:link, #hauptnavi dl.extra a:visited
{
	display: inline;
	padding: 0;
	color: #008c4f;
	background: none;
	border: none;
	font-weight: normal;
}

#hauptnavi dl.extra a:hover
{
	display: inline;
	padding: 0;
	color: #8c1c00;
	text-decoration: underline;
}


/* Navigation: = Suche
-------------------------------------------------*/
#suche
{
	margin: 20px 0;
	padding: 0 4px 0 9px;
	white-space: nowrap;
}

#such-label
{
	font-weight: bold;
	color: #666;
	background: #ddd;
	font-weight: bold;
	padding-bottom: 4px;
}

#such-input
{
	width: 10em;
	border: 1px solid #aaa;
	color: #666;
	background: #eee;
}

#such-send
{
	margin: 0;
	font-weight: bold;
	padding: 0 0 0 2px;
	border: none;
	color: #008c4f;
	background: #ddd;
	cursor: pointer;
}

/*Inhalt
----------------------------------------------- */

#inhalt
{
	margin: 0 0 0 13em;
	padding: 20px;
	color: #333;
 	background-color: white;
	line-height: 1.3em;
	border-left: 1px solid #008c4f;
	border-right: 1px solid #008c4f;
	border-bottom: 1px solid #008c4f;
	position: relative;
}

#inhalt-wide
{
	margin: 0 0 0 16px;
	padding: 20px;
	color: #0d3340;
	background: #fff;
	line-height: 1.5em;
	border-left: 1px solid #008c4f;
	border-right: 1px solid #008c4f;
	border-bottom: 1px solid #008c4f;
}

#inhalt table
{
	color: #333;

}

#inhalt a, #inhalt-wide a
{
	text-decoration: underline;
}

#inhalt h1 a, #inhalt h2 a
{
	text-decoration: none;
}

#inhalt h1, #inhalt-wide h1
{
	margin-bottom: 1.5em;
}

#spalte1, #spalte1_70
{
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#spalte1
{
	width: 50%;
}

#spalte1_70
{
	width: 70%;
}

#spalte1 p, #spalte1_70 p
{
	padding: 4px 0;
}

#spalte1 h3, #spalte1_70 h3
{
	padding: 1em 0;
}

#spalte1 h3.top, #spalte1_70 h3.top
{
	margin: 0 0 1em 0;
}

#spalte1 ul.ohne, #spalte1_70 ul.ohne
{
	list-style-type: none;
}

#spalte1 ul.liste, #spalte1_70 ul.liste
{
	margin: 0 0 1em 0;
	list-style-type: none;
}

#spalte1 span.datum, #spalte1_70 span.datum
{
	display: block;
	float: right;
	padding-left: 10px;
	font-size: 0.85em;
	text-align: right;
}


/* Spalte 2
----------------------------------------------------------------*/
#spalte2, #spalte2_30
{
	margin: 0;
	padding: 0 0 0 20px;
	overflow: hidden;
}

#spalte2 p, #spalte2_30 p
{
	padding: 0.5em 0 0.5em 0;
}

#spalte2 h3, #spalte2_30 h3
{
	margin: 1.5em 0 0 0;
	font-size: 0.9em;
	font-weight: bold;
	text-transform: uppercase;
}

#spalte2 h3.top, #spalte2_30 h3.top
{
	margin: 0;
}

#spalte2 ul, #spalte2_30 ul
{
	margin: 0 0 1em 0;
	font-size: 0.85em;
	line-height: 1.4em;
	list-style-type: none;
}

#spalte2_30 dl
{
	width: 98%;
	margin: 0 0 1em 0;
	padding: 0;
	border: 1px solid #ccc;
}

#spalte2_30 dt
{
	margin: 0;
	padding: 4px 10px;
	background: #ddd;
	font-weight: bold;
	font-size: 0.9em;
	white-space: nowrap;
	border-bottom: 1px solid #ccc;
}

#spalte2_30 dd
{
	margin: 0px;
	padding: 4px 10px;
	font-size: 0.85em;
}


#spalte2_30 dl a
{
	text-decoration: none;
}


/* Seitenfuss
----------------------------------------------------------------- */
#fuss
{
	clear: both;
	font-size: 0.85em;
	color: #666;
	margin: 0 0 0 15.3em;
	padding: 8px 0 8px 20px;
	width: 100%;
}

html>body #fuss
{
	width: auto;
}

#fuss-wide
{
	clear: both;
	font-size: 0.85em;
	color:#666;
	margin: 0;
	padding: 8px 0 8px 36px;
	width: 100%;
}

html>body #fuss-wide
{
	width: auto;
}


/* Diverse Klassen
-------------------------------------------------------------- */

.linie-unten
{
	border-bottom: 1px dashed #ddd;
}

.highlight
{
	background: #ddd;
	border: 1px solid #ccc;
}


.gross
{
	font-size: 1.4em;
}

.klein
{
	font-size: 0.85em;
}

.centered
{
	text-align: center;
}

.hide
{
	display: none;
}

.noscreen
{
	display: none;
}

.abstand
{
	padding-top: 20px;
}

.codeblock
{
	font: 1em Courier, monospace;
	border: 1px dashed #00B064;
	padding: 10px;
	margin: 10px;
}

.luftig
{
	line-height: 1.5em;
}


/* ueberschreibt css_styled_imgtext in TYPO3
----------------------------------------------------------------*/
.csi-textpic {
padding: 5px;
background: transparent;
border: 0;
}

.csi-textpic img {
border: 0;
margin: 4px;
}

.csi-textpic .csi-caption {
text-align: center;
font-style: normal;
}

.csi-textpic .csi-image {
border: 0;
margin: 0 0 3px 0;
background: transparent;
}

.csi-textpic .csi-imagewrap {
border: 0;
}

.csi-textpic .csi-text {
border: 0;
text-align: left;
}

.csi-text p {
margin-top: 0;
}

.csi-center .csi-image {
margin: 0 auto 3px;
}

.csi-right div.csi-image {
float: right;
clear: both;
}

.csi-right div.csi-text {
clear: right;
}

.csi-left div.csi-image {
float: left;
clear: both;
}

.csi-left div.csi-text {
clear: left;
}

.csi-intext-left .csi-image {
float: left;
clear: both;
margin-right: 5px;
}

.csi-intext-right .csi-image {
float: right;
clear: both;
margin-left: 5px;
}

.csi-intext-right-nowrap .csi-text {
}

*html .csi-intext-right-nowrap .csi-text {
height: 1%;
}

.csi-intext-right-nowrap .csi-image {
float: right;
clear: both;
}

.csi-intext-left-nowrap .csi-text {
}

*html .csi-intext-left-nowrap .csi-text {
height: 1%;
}

.csi-intext-left-nowrap .csi-image {
float: left;
clear: both;
}

.csi-center {
text-align: center;
}

/* weitere TYPO3-Formate
----------------------------------------------------------------*/
table.contenttable p
{
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}
