<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <description>
      Submission Interface
    </description>
  <display-name>Submission Interface</display-name>
  <session-config>
    <session-timeout>30</session-timeout>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>
  <context-param>
    <param-name>template-class</param-name>
    <param-value>de.tuclausthal.submissioninterface.template.impl.SimpleTemplate</param-value>
  </context-param>
  <context-param>
    <param-name>datapath</param-name>
    <param-value>c:\submissionsystem</param-value>
  </context-param>
  <context-param>
    <param-name>servername</param-name>
    <param-value>localhost</param-value>
  </context-param>
  <context-param>
    <param-name>servletspath</param-name>
    <param-value>servlets</param-value>
  </context-param>
  <context-param>
    <param-name>adminmail</param-name>
    <param-value>admin@localhost</param-value>
  </context-param>
  <context-param>
    <param-name>mail-last-grading-tutor-on-grade-change</param-name>
    <param-value>yes</param-value>
  </context-param>
  <context-param>
    <param-name>mail-server</param-name>
    <param-value>127.0.0.1</param-value>
  </context-param>
  <context-param>
    <param-name>mail-from</param-name>
    <param-value>noreply@localhost</param-value>
  </context-param>
  <context-param>
    <param-name>mail-subject-prefix</param-name>
    <param-value>[GATE] </param-value>
  </context-param>
  <context-param>
    <param-name>show-matrikelno-to-tutors</param-name>
    <param-value>no</param-value>
  </context-param>
  <context-param>
    <param-name>matrikelno-must-be-enterend-manually-if-missing</param-name>
    <param-value>no</param-value>
  </context-param>
  <context-param>
    <param-name>intranetPrefixes</param-name>
    <param-value>192.168.0.;127.0.0.1;0:0:0:0:0:0:0:1</param-value>
  </context-param>
  <context-param>
    <!-- configure the default charset for fileencoding of zip files, on German Windows this is likely cp850, on English Windows (as and based on the ZIP specification) this should be cp437.
         This is needed to be able to unpack .ZIP archives that don't use UTF-8 encoding of filenames and don't indicate this in the flags and use e.g. umlauts -->
    <param-name>default-zipfile-charset</param-name>
    <param-value>cp850</param-value>
  </context-param>
  <listener> <!-- must be the first listener! -->
    <listener-class>de.tuclausthal.submissioninterface.util.ContextConfigurationListener</listener-class>
  </listener>
  <listener>
    <listener-class>de.tuclausthal.submissioninterface.util.HibernateListener</listener-class>
  </listener>
  <context-param>
    <param-name>testframework-cores</param-name>
    <param-value>4</param-value>
  </context-param>
  <listener>
    <listener-class>de.tuclausthal.submissioninterface.testframework.executor.impl.LocalExecutorStartUp</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>de.tuclausthal.submissioninterface.authfilter.authentication.AuthenticationFilter</filter-class>
    <init-param>
      <param-name>login</param-name>
      <param-value>de.tuclausthal.submissioninterface.authfilter.authentication.login.impl.Form</param-value>
    </init-param>
    <init-param>
      <param-name>bindToIP</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>verify</param-name>
      <param-value>de.tuclausthal.submissioninterface.authfilter.authentication.verify.impl.LDAPVerify</param-value>
    </init-param>
    <init-param>
      <param-name>PROVIDER_URL</param-name>
      <param-value>ldaps://example.com/ou=people,dc=example,dc=com</param-value>
    </init-param>
    <init-param>
      <param-name>SECURITY_AUTHENTICATION</param-name>
      <param-value>simple</param-value>
    </init-param>
    <init-param>
      <param-name>SECURITY_PRINCIPAL</param-name>
      <param-value>uid={0},ou=people,dc=example,dc=com</param-value>
    </init-param>
    <init-param>
      <param-name>userAttribute</param-name>
      <param-value>uid</param-value>
    </init-param>
    <init-param>
      <param-name>matrikelNumberAttribute</param-name>
      <param-value>tucmatrikelNr</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/servlets/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>PerformStudentTest</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.PerformStudentTest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminMenue</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.AdminMenue</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LectureManager</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.LectureManager</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TaskManager</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.TaskManager</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Overview</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.Overview</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowLecture</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.ShowLecture</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MarkApproved</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.MarkApproved</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MarkEmptyTask</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.MarkEmptyTask</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MarkEmptyTaskView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.MarkEmptyTaskView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowTask</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.ShowTask</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubscribeToLecture</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.SubscribeToLecture</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubmitSolution</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.SubmitSolution</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowSubmission</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.ShowSubmission</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowMarkHistory</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.ShowMarkHistory</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowMarkHistoryView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.ShowMarkHistoryView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowUser</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.ShowUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowUserView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.ShowUserView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditGroup</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.EditGroup</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddGroup</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.AddGroup</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AlterUser</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.AlterUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditParticipation</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.EditParticipation</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowFile</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.ShowFile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadAsZip</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.DownloadAsZip</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteFile</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.DeleteFile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestManager</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.TestManager</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DupeCheck</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.DupeCheck</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowLectureTutorView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.ShowLectureTutorView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowLectureTutorFullView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.ShowLectureTutorFullView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowLectureTutorCSVView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.ShowLectureTutorCSVView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowLectureStudentView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.ShowLectureStudentView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowTaskStudentView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.ShowTaskStudentView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowTaskTutorView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.ShowTaskTutorView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowTaskTutorPrintView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.ShowTaskTutorPrintView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DupeCheckFormView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.DupeCheckFormView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowSubmissionView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.ShowSubmissionView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditGroupFormView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.EditGroupFormView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubmitSolutionFormView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.SubmitSolutionFormView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubmitSolutionAdvisorFormView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.SubmitSolutionAdvisorFormView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubscribeToLectureView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.SubscribeToLectureView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TaskManagerView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.TaskManagerView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowFileView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.ShowFileView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminMenueOverView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.AdminMenueOverView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminMenueShowAdminUsersView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.AdminMenueShowAdminUsersView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminMenueAddLectureView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.AdminMenueAddLectureView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminMenueEditLectureView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.AdminMenueEditLectureView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessageView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.MessageView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddGroupFormView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.AddGroupFormView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestManagerAddTestFormView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.TestManagerAddTestFormView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PerformStudentTestRunningView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.PerformStudentTestRunningView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PerformStudentTestResultView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.PerformStudentTestResultView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminMenue</servlet-name>
    <url-pattern>/servlets/AdminMenue</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PerformStudentTest</servlet-name>
    <url-pattern>/servlets/PerformStudentTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LectureManager</servlet-name>
    <url-pattern>/servlets/LectureManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskManager</servlet-name>
    <url-pattern>/servlets/TaskManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Overview</servlet-name>
    <url-pattern>/servlets/Overview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowLecture</servlet-name>
    <url-pattern>/servlets/ShowLecture</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MarkApproved</servlet-name>
    <url-pattern>/servlets/MarkApproved</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MarkEmptyTask</servlet-name>
    <url-pattern>/servlets/MarkEmptyTask</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowTask</servlet-name>
    <url-pattern>/servlets/ShowTask</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubscribeToLecture</servlet-name>
    <url-pattern>/servlets/SubscribeToLecture</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmitSolution</servlet-name>
    <url-pattern>/servlets/SubmitSolution</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowSubmission</servlet-name>
    <url-pattern>/servlets/ShowSubmission</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowMarkHistory</servlet-name>
    <url-pattern>/servlets/ShowMarkHistory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowUser</servlet-name>
    <url-pattern>/servlets/ShowUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditGroup</servlet-name>
    <url-pattern>/servlets/EditGroup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/servlets/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditParticipation</servlet-name>
    <url-pattern>/servlets/EditParticipation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowFile</servlet-name>
    <url-pattern>/servlets/ShowFile/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadAsZip</servlet-name>
    <url-pattern>/servlets/DownloadAsZip</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteFile</servlet-name>
    <url-pattern>/servlets/DeleteFile/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestManager</servlet-name>
    <url-pattern>/servlets/TestManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddGroup</servlet-name>
    <url-pattern>/servlets/AddGroup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlterUser</servlet-name>
    <url-pattern>/servlets/AlterUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DupeCheck</servlet-name>
    <url-pattern>/servlets/DupeCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LocalExecutorStartUp</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.testframework.executor.impl.LocalExecutorStartUp</servlet-class>
    <init-param>
      <param-name>cores</param-name>
      <param-value>4</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>JoinGroup</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.JoinGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinGroup</servlet-name>
    <url-pattern>/servlets/JoinGroup</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>403</error-code>
    <location>/GATEErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/GATEErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/GATEErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/GATEErrorHandler</location>
  </error-page>
  <servlet>
    <servlet-name>GATEErrorHandler</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.ErrorHandlerView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GATEErrorHandler</servlet-name>
    <url-pattern>/GATEErrorHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadTaskFile</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.DownloadTaskFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadTaskFile</servlet-name>
    <url-pattern>/servlets/DownloadTaskFile/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TaskGroupManagerView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.TaskGroupManagerView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SwitchLogin</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.SwitchLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SwitchLogin</servlet-name>
    <url-pattern>/servlets/SwitchLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditMultipleGroups</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.EditMultipleGroups</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditMultipleGroups</servlet-name>
    <url-pattern>/servlets/EditMultipleGroups</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditMultipleGroupsFormView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.EditMultipleGroupsFormView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PublishGrades</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.PublishGrades</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishGrades</servlet-name>
    <url-pattern>/servlets/PublishGrades</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublishGradesView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.PublishGradesView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Noop</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.Noop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Noop</servlet-name>
    <url-pattern>/servlets/Noop</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WebStart</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.WebStart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebStart</servlet-name>
    <url-pattern>/servlets/WebStart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WebStartArgoUMLView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.WebStartArgoUMLView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PerformStudentTestArgoUMLView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.PerformStudentTestArgoUMLView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowTaskDescriptionView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.ShowTaskDescriptionView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubmitSolutionPossiblePartnersView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.SubmitSolutionPossiblePartnersView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessageArgoUMLView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.MessageArgoUMLView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MassMail</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.MassMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MassMail</servlet-name>
    <url-pattern>/servlets/MassMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MassMailView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.MassMailView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchSubmissions</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.SearchSubmissions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchSubmissions</servlet-name>
    <url-pattern>/servlets/SearchSubmissions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchSubmissionsView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.SearchSubmissionsView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchSubmissionsResultView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.SearchSubmissionsResultView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PerformTest</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.PerformTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PerformTest</servlet-name>
    <url-pattern>/servlets/PerformTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PerformTestTutorFormView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.PerformTestTutorFormView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PerformTestResultView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.PerformTestResultView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GotoNextUngradedSubmission</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.GotoNextUngradedSubmission</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GotoNextUngradedSubmission</servlet-name>
    <url-pattern>/servlets/GotoNextUngradedSubmission</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TaskManagerDynamicTaskPreView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.TaskManagerDynamicTaskPreView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadModelSolutionFile</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.DownloadModelSolutionFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadModelSolutionFile</servlet-name>
    <url-pattern>/servlets/DownloadModelSolutionFile/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JavaAdvancedIOTestManager</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.JavaAdvancedIOTestManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JavaAdvancedIOTestManager</servlet-name>
    <url-pattern>/servlets/JavaAdvancedIOTestManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JavaAdvancedIOTestManagerOverView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.JavaAdvancedIOTestManagerOverView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadSubmissionsByGroup</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.DownloadSubmissionsByGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadSubmissionsByGroup</servlet-name>
    <url-pattern>/servlets/DownloadSubmissionsByGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CloseSubmissionByStudent</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.CloseSubmissionByStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloseSubmissionByStudent</servlet-name>
    <url-pattern>/servlets/CloseSubmissionByStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowGroup</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.ShowGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowGroup</servlet-name>
    <url-pattern>/servlets/ShowGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowGroupStudentView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.ShowGroupStudentView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteFileView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.DeleteFileView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CloseSubmissionView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.CloseSubmissionView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MassMarkTask</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.controller.MassMarkTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MassMarkTask</servlet-name>
    <url-pattern>/servlets/MassMarkTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MassMarkTaskView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.MassMarkTaskView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowTaskTutorCSVView</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.ShowTaskTutorCSVView</servlet-class>
  </servlet>
</web-app>
