<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <description>
      Submission Interface
    </description>
  <display-name>Submission Interface</display-name>
  <session-config>
    <session-timeout>30</session-timeout>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>
  <context-param>
    <param-name>template-class</param-name>
    <param-value>de.tuclausthal.submissioninterface.template.impl.SimpleTemplate</param-value>
  </context-param>
  <context-param>
    <param-name>datapath</param-name>
    <param-value>c:\submissionsystem</param-value>
  </context-param>
  <context-param>
    <param-name>servername</param-name>
    <param-value>localhost</param-value>
  </context-param>
  <context-param>
    <param-name>adminmail</param-name>
    <param-value>admin@localhost</param-value>
  </context-param>
  <context-param>
    <param-name>mail-last-grading-tutor-on-grade-change</param-name>
    <param-value>yes</param-value>
  </context-param>
  <context-param>
    <param-name>mail-server</param-name>
    <param-value>127.0.0.1</param-value>
  </context-param>
  <context-param>
    <param-name>mail-from</param-name>
    <param-value>noreply@localhost</param-value>
  </context-param>
  <context-param>
    <param-name>mail-subject-prefix</param-name>
    <param-value>[GATE] </param-value>
  </context-param>
  <context-param>
    <param-name>matrikelno-available</param-name>
    <param-value>no</param-value>
  </context-param>
  <context-param>
    <param-name>show-matrikelno-to-tutors</param-name>
    <param-value>no</param-value>
  </context-param>
  <context-param>
    <param-name>matrikelno-must-be-enterend-manually-if-missing</param-name>
    <param-value>no</param-value>
  </context-param>
  <context-param>
    <param-name>intranetPrefixes</param-name>
    <param-value>192.168.0.;127.0.0.1;0:0:0:0:0:0:0:1</param-value>
  </context-param>
  <context-param>
    <!-- configure the default charset for fileencoding of zip files, on German Windows this is likely cp850, on English Windows (as and based on the ZIP specification) this should be cp437.
         This is needed to be able to unpack .ZIP archives that don't use UTF-8 encoding of filenames and don't indicate this in the flags and use e.g. umlauts -->
    <param-name>default-zipfile-charset</param-name>
    <param-value>cp850</param-value>
  </context-param>
  <listener> <!-- must be the first listener! -->
    <listener-class>de.tuclausthal.submissioninterface.util.ContextConfigurationListener</listener-class>
  </listener>
  <listener>
    <listener-class>de.tuclausthal.submissioninterface.util.HibernateListener</listener-class>
  </listener>
  <context-param>
    <param-name>testframework-cores</param-name>
    <param-value>4</param-value>
  </context-param>
  <listener>
    <listener-class>de.tuclausthal.submissioninterface.testframework.executor.impl.LocalExecutorStartUp</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>de.tuclausthal.submissioninterface.authfilter.authentication.AuthenticationFilter</filter-class>
    <init-param>
      <param-name>login</param-name>
      <param-value>de.tuclausthal.submissioninterface.authfilter.authentication.login.impl.Form</param-value>
    </init-param>
    <init-param>
      <param-name>bindToIP</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>verify</param-name>
      <param-value>de.tuclausthal.submissioninterface.authfilter.authentication.verify.impl.LDAPVerify</param-value>
    </init-param>
    <init-param>
      <param-name>PROVIDER_URL</param-name>
      <param-value>ldaps://example.com/ou=people,dc=example,dc=com</param-value>
    </init-param>
    <init-param>
      <param-name>SECURITY_AUTHENTICATION</param-name>
      <param-value>simple</param-value>
    </init-param>
    <init-param>
      <param-name>SECURITY_PRINCIPAL</param-name>
      <param-value>uid={0},ou=people,dc=example,dc=com</param-value>
    </init-param>
    <init-param>
      <param-name>userAttribute</param-name>
      <param-value>uid</param-value>
    </init-param>
    <init-param>
      <param-name>matrikelNumberAttribute</param-name>
      <param-value>tucmatrikelNr</param-value>
    </init-param>
  </filter>
  <error-page>
    <error-code>403</error-code>
    <location>/GATEErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/GATEErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/GATEErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/GATEErrorHandler</location>
  </error-page>
  <servlet>
    <servlet-name>GATEErrorHandler</servlet-name>
    <servlet-class>de.tuclausthal.submissioninterface.servlets.view.ErrorHandlerView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GATEErrorHandler</servlet-name>
    <url-pattern>/GATEErrorHandler</url-pattern>
  </servlet-mapping>
</web-app>
