<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
	<property name="connection.url">jdbc:mysql://localhost/abgabesystem</property>
	<property name="connection.username">root</property>
	<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
	<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
	<property name="connection.password"></property>

        <!-- Disable second-level cache. -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="cache.use_query_cache">false</property>
        <property name="cache.use_minimal_puts">false</property>
        <property name="max_fetch_depth">3</property>

        <!-- Use the C3P0 connection pool. -->
        <property name="c3p0.min_size">3</property>
        <property name="c3p0.max_size">5</property>
        <property name="c3p0.timeout">1800</property>

 <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
    <!--  thread is the short name for
      org.hibernate.context.ThreadLocalSessionContext
      and let Hibernate bind the session automatically to the thread
    -->
    <property name="current_session_context_class">thread</property>
    <!-- this will show us all sql statements -->
    <property name="hibernate.show_sql">true</property>
    <mapping class="de.tuclausthal.abgabesystem.persistence.datamodel.User"/>
    <mapping class="de.tuclausthal.abgabesystem.persistence.datamodel.Student"/>
    <mapping class="de.tuclausthal.abgabesystem.persistence.datamodel.Task"/>
    <mapping class="de.tuclausthal.abgabesystem.persistence.datamodel.Parameter"/>
    <mapping class="de.tuclausthal.abgabesystem.persistence.datamodel.Submission"/>
    <mapping class="de.tuclausthal.abgabesystem.persistence.datamodel.Lecture"/>
    <mapping class="de.tuclausthal.abgabesystem.persistence.datamodel.Participation"/>
    <mapping class="de.tuclausthal.abgabesystem.persistence.datamodel.Points"/>
    <mapping class="de.tuclausthal.abgabesystem.persistence.datamodel.Group"/>
    <mapping class="de.tuclausthal.abgabesystem.persistence.datamodel.TestResult"/>
    <mapping class="de.tuclausthal.abgabesystem.persistence.datamodel.Test"/>
    <mapping class="de.tuclausthal.abgabesystem.persistence.datamodel.JUnitTest"/>
    <mapping class="de.tuclausthal.abgabesystem.persistence.datamodel.RegExpTest"/>
 </session-factory>
</hibernate-configuration>
